.swiper-button-prev,
.swiper-button-next {
  color: #fb923c;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  padding: 50px;
  transition: background 0.3s;
}

.swiper-button-prev {
  left: -15px; /* mais para a esquerda */
}

.swiper-button-next {
  right: -15px; /* mais para a direita */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(251, 146, 60, 0.6);
  color: white;
}

.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (max-width: 640px) {
  .swiper-button-prev,
  .swiper-button-next {
    padding: 25px;
  }
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: all 0.3s ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background-color: #fb923c;
  border-color: #fb923c;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 6px rgba(251, 146, 60, 0.8);
}
